name: Check
on: [ push, pull_request ]
jobs:
  check:
    runs-on: ${{ matrix.os }}
    # push: always run.
    # pull_request: run only when the PR is submitted from a forked repository, not within this repository.
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    strategy:
      fail-fast: false
      matrix:
        os:
        - macos-26
#        - macos-15
    steps:
    - uses: actions/checkout@v4
#    - name: Check
#      run: ./build.sh
    - name: get apache-arrow-glib.rb
      run: curl -L -O https://raw.githubusercontent.com/Homebrew/homebrew-core/1ce49820c3536e1c512a677c9138aee6321bdf12/Formula/a/apache-arrow-glib.rb
    - name: get apache-arrow.rb
      run: curl -L -O https://raw.githubusercontent.com/Homebrew/homebrew-core/1ce49820c3536e1c512a677c9138aee6321bdf12/Formula/a/apache-arrow.rb
    - nmae:
      run ./brew install apache-arrow
